<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title id="page-title">Account Manager</title>

    <!-- GC -->
   <link href="__EXTJS_THEME__/ext-theme-neptune-touch/ext-theme-neptune-touch-all.css" rel="stylesheet" type="text/css" />
    <!-- <x-compile> -->
    <!-- <x-bootstrap> -->
    <script type="text/javascript" src="__EXTJS__/ext-all.js"></script>
    <script type="text/javascript" src="__EXTJS__/ext-locale-zh_CN.js"></script>
    <!-- </x-bootstrap> -->
    <!--<script type="text/javascript" src="__EXTJS__/js/app.js"></script>-->
    <!-- </x-compile> -->
</head>
<body>